body {
  background-color: #4495D1;
  color: white;
}

#statsTable {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

#statsTable td {
  border: 2px solid #002A5C;
  text-align: center;
  table-layout: fixed;
}

th {
  color: black;
  border: 2px solid #002A5C;
  text-align: center;
  table-layout: fixed;
}

.playerDiv .jumbotron {
 color: black;
 border: 2px solid black;
}

.nameClickable {
  transition: 1s;
  color: beige;
  background-color: grey;
  font-weight: bold;
  text-decoration: underline;
}

.nameClickable:hover {
  transition: 1s;
  color: aqua;
  cursor: pointer;
}